* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

root {
  --background: #ededed;
  --orange: #ff671f;
  --blue: #003b5c;
}

/* FONTS */

@font-face {
  font-family: "Helvetica LT STD Condensed";
  src:
    url("../fonts/Helvetica LT Std Condensed.woff2") format("woff2"),
    url("../fonts/Helvetica LT Std Condensed.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Helvetica Neue Bold";
  src:
    url("../fonts/helveticaneuebold-webfont.woff2") format("woff2"),
    url("../fonts/helveticaneuebold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Helvetica Neue Black";
  src:
    url("../fonts/HelveticaNeueBlack.woff2") format("woff2"),
    url("../fonts/HelveticaNeueBlack.woff") format("woff");
  font-weight: lighter;
  font-style: normal;
}
@font-face {
  font-family: "Helvetica Neue Light";
  src:
    url("../fonts/helveticaneuelight-webfont.woff2") format("woff2"),
    url("../fonts/helveticaneuelight-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
h2 {
  font-family: "Helvetica Neue Bold";
}
h1 {
  font-family: "Helvetica Neue Bold";
  font-weight: bolder;
  font-size: 30pt;
  -webkit-text-stroke: 1px #ff671f;
  text-shadow: #ff905991 0px 4px 11px;
  color: #ededed;
}
h2 {
  font-size: 14pt;
}
p {
  font-family: "Helvetica Neue Light";
  font-size: 12pt;
}

.bold-p {
  font-family: "Helvetica Neue Bold";
  font-size: 12pt;
}
a {
  font-family: "Helvetica LT STD Condensed";
  text-transform: uppercase;
  text-decoration: none;
  font-size: 10pt;
  color: #4a4a4a;
}

/*  */

/* DECOR */

.vl {
  height: 1px;
  border-top: 1px solid #ff671f;
  justify-content: start;
  align-items: start;

  width: 80%;
}

/*  */

/* PROGRAMSIDE  CSS */

@media (max-width: 800px) {
  .title {
    padding-right: 20px;
  }
  .vl {
    width: 100%;
  }

  .event_card {
    padding-left: 20px;
    padding-right: 20px;
  }

  .event_description {
    margin-top: 20px;
  }

  .event_card_img {
    display: none;
    border-radius: 20px;
  }
  .event_essentials {
    display: flex;
    gap: 20px;
  }

  .event_card_wrapper {
    padding: 20px 20px 20px 0px;
  }

  .padding-left {
    margin: 0 auto;
    padding-left: 20px;
  }

  .arrow_container {
    display: flex;
    margin-top: 30px;
    gap: 10px;
    margin-left: -9px;
  }
  .arrow_container img {
    margin-top: -4px;
  }

  .event_display_img {
    display: none;
  }
}

@media (min-width: 800px) {
  /*  */
  /* DESKTOP */
  /*  */

  .event_card {
    padding-left: 40px;
    transition: all 0.5s ease-in-out;
  }

  .event_card img {
    border-radius: 10px;
  }
  .event_card:hover {
    transform: scale(1.1) translate(50px);

    transition: all 0.5s ease-in-out;
    filter: saturation(1.2);
  }
  .event_card_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 20px 20px 20px 0px;
  }

  .event_text_wrapper {
    display: flex;
    align-items: self-start;
    gap: 20px;
  }

  .arrow_container {
    display: flex;
    position: absolute;
    top: 80px;
    left: -9px;
    justify-content: start;
    align-items: center;
    gap: 10px;
    margin: 0 auto;
  }

  .arrow_container img {
    margin-top: -4px;
  }

  .event_essentials {
    width: 150px;
  }

  .event_description {
    position: relative;
    max-width: 300px;
    margin-top: 3px;
  }

  #MyDate {
    margin-top: 10px;
    margin-bottom: 4px;
  }

  .event_display_img {
    margin-left: -30px;
    width: 100px;
    margin-right: 10px;
    margin-top: -12px;
  }

  .padding-left {
    padding-left: 40px;
  }

  .title img {
    display: flex;
    width: 70%;
  }

  .event_display {
    display: flex;
  }

  .event_display img {
    filter: hue-rotate(10deg);
  }

  .event_img_container {
    display: flex;
    gap: 40px;
    margin-left: 158px;
  }
}

.event_img_container img {
  width: 170px;
}

/*  */

/* SINGLE CSS */

.flex {
  display: flex;
  gap: 10px;
  line-height: 2.5;
}

.border {
  border: 0.5px solid #ff671f;
  border-radius: 20px;
  padding: 10px 20px 10px 20px;
  margin: 20px 0px 40px 0px;
  box-shadow: #ff90593b 0px 4px 25px;
  width: 32rem;
}

.grid_1-1_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 100px;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.grid_5-4_container {
  display: grid;
  grid-template-columns: 5fr 4fr;
  gap: 100px;
  justify-content: start;
  align-items: start;
  width: 100%;
  height: 100%;
}

.grid_5-4_container img {
  padding: 20px 0px;
}

.text-string {
  line-height: 1.5;
  padding-top: 15px;
}
