---
import GlassButton from './GlassButton.astro'; 
import PracticalInfo from './PracticalInfo.astro';
---

<style>
  @font-face {
  font-family: "Helvetica LT STD Condensed";
  src:
    url("../fonts/Helvetica LT Std Condensed.woff2") format("woff2"),
    url("../fonts/Helvetica LT Std Condensed.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Helvetica Neue Bold";
  src:
    url("../fonts/helveticaneuebold-webfont.woff2") format("woff2"),
    url("../fonts/helveticaneuebold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Helvetica Neue Black";
  src:
    url("../fonts/HelveticaNeueBlack.woff2") format("woff2"),
    url("../fonts/HelveticaNeueBlack.woff") format("woff");
  font-weight: lighter;
  font-style: normal;
}
@font-face {
  font-family: "Helvetica Neue Light";
  src:
    url("../fonts/helveticaneuelight-webfont.woff2") format("woff2"),
    url("../fonts/helveticaneuelight-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;

}
    .about-section {
      display: flex;
      flex-wrap: wrap;
      padding: 4rem 20rem;
      background-color: #ededed;
      gap: 2rem;
    }
  
    .about-left {
      flex: 1 1 60%;
      max-width: 700px;
    }
  
    .about-left h2 {
      font-family: "Helvetica Neue BOLD";
      font-weight: bolder;
  font-size: 30pt;
  -webkit-text-stroke: 1px #ff671f;
  text-shadow: #ff905991 0px 4px 11px;
  color: #ededed;
}

  
    .about-left p {
      font-size: 1rem;
      line-height: 1.7;
      margin-bottom: 1.5rem;
      font-family: "Helvetica Neue Light";

    }
  
    .about-left p strong {
      font-weight: 700;
      font-family: "Helvetica Neue Light";

    }
  
    .about-left a {
      text-decoration: underline;
      color: #000;
      font-family: "Helvetica Neue Light";

    }
  
    .about-right {
      flex: 1 1 30%;
    
    }
  
    .about-right h3 {
      font-size: 1rem;
      font-weight: bold;
      margin-bottom: 1rem;
      font-family: "Helvetica Neue Light";

    }
  
    .about-right p {
      font-size: 0.9rem;
      line-height: 1.5;
      margin-bottom: 1rem;
      font-family: "Helvetica Neue Light";
    }
    .about-right a {
      text-decoration: underline;
      color: #000;
      font-family: "Helvetica";
      font-family: "Helvetica Neue Light";
    }

  .cirkel{
    position: absolute;
    height: 30px;

  }
  .udråb{
    position: absolute;
    height: 40px;

  }
  .streg {
    position: relative;
    height: 10px;
top: 13px;
  }
  .omstilling {
    position: relative;
    height: 20px;
    top: 4px;
  }
  .pil {
    position: relative;
    height: 30px;
    top: 50px;
    right: 220px;
  }

  .button-container a {
  text-decoration: none; 
  font-family: "Helvetica Neue Light";

}
@media (max-width: 768px) {
  .about-section {
    flex-direction: column; /* Skift til kolonne-layout */
    padding: 2rem 1rem; /* Reducer padding på mobil */
  }

  .about-left {
    flex: 1 1 100%; /* Fyld hele bredden */
    max-width: 100%; /* Fjern begrænsning på bredden */
  }

  .about-left h2 {
    font-size: 24pt; /* Reducer overskriftens størrelse */
    text-align: center; /* Centrer overskriften */
  }

  .about-left p {
    font-size: 0.9rem; /* Reducer tekststørrelsen */
    line-height: 1.5;
  }

  .about-right {
    flex: 1 1 100%; /* Fyld hele bredden */
    max-width: 100%; /* Fjern begrænsning på bredden */
    margin-top: 2rem; /* Tilføj afstand til venstre sektion */
  }

  .button-container {
    text-align: center; /* Centrer knappen */
    margin-top: 1.5rem;
  }

  .pil {
    display: none; /* Skjul pilen på mobil */
  }
}
  </style>
  
  <section class="about-section">
    <div class="about-left">
      <h2>Circular Lab</h2>
      
      <p>
        er et community lab</strong> med fokus på cirkulære forretningsmodeller, strategier og design.
        Circular Lab er for <strong> <img class="cirkel" src="public/Vector-1.png" alt="cirkel"> KEAs studerende</strong>, undervisere og medlemmer af samarbejdende institutioner.
        Circular Lab samarbejder på tværs af de andre labs på KEA. <img class="udråb" src="public/Group 19.png" alt="!"> 
      </p>
      <p>
        Circular Lab er et multifunktionelt rum, der indbyder til at udforske og undersøge nye cirkulære
        forretningsmodeller og hvordan vi designer cirkulære produkter <br>  Gennem <img class="streg" src="public/strreg.png" alt="streg">  <strong>workshops, foredrag, community caféer og virksomhedsbesøg</strong> 
        åbner vi op for mulighederne der følger med den cirkulære <img class="omstilling" src="public/Group-6.png" alt="omstilling"> og hvordan man kan udforske dem igennem praksis og teori.
      </p> 
      <p>
        Lab’et bruges til undervisning, workshops, arrangementer, udstillinger og eksperimenter.
        Følg med i kalenderen for at se de kommende events og happenings. 
        <img class="pil" src="public/Group-2.png" alt="pil">
      </p>

      <div class="button-container">
      <a href="mailto:circular@kea.dk">
        <GlassButton text="Kontakt os her" />   
      </a>

         </div>
    </div>

    <div class="about-right"> 
      <PracticalInfo />
    </div>
  </section>
