---
// Ingen scripting nødvendig
import GlassButton from './GlassButton.astro'; // Importér knapkomponenten
---


<section class="contact-grid">
  <img src="public/storm.png" alt="Billede af Nikolaj Storm" class="contact-image" />
  <div class="contact-text">
    <h2>Kontakt os</h2>
    <p>
      Har du spørgsmål eller brug for hjælp? <br> Kontakt os via e-mail eller kom forbi labbet i åbningstiden.
    </p>
    <div class="button-container">
        <GlassButton text="Send en mail" />   
         </div>  </div>
</section>

<style>
  .contact-grid {
    display: grid;
    grid-template-columns: 1fr 2fr; /* Billede til venstre (1 del), tekst til højre (2 dele) */
    align-items: center; /* Juster indholdet lodret */
    padding: 2rem 20rem;
  }

  .contact-image {
    width: 80%; /* Sørg for, at billedet fylder sin kolonne */
    height: auto;
  }

  .contact-text h2 {
    font-family: Arial, Helvetica, sans-serif;
  font-size: 2.5rem;
  font-weight: 900;
  color: transparent;
  -webkit-text-stroke: 2px #FF8552;
  }

  .contact-text p {
    font-size: 1rem;
    line-height: 1.5;
    color: black;
  }
</style>