---
const materials = [
  { img: "/imgs_circular_lab/materialer/material-01.webp" },
  { img: "/imgs_circular_lab/materialer/material-02.webp" },
  { img: "/imgs_circular_lab/materialer/material-03.webp" },
  { img: "/imgs_circular_lab/materialer/material-10.webp" },

  { img: "/imgs_circular_lab/materialer/material-04.webp" },
  { img: "/imgs_circular_lab/materialer/material-05.webp" },
  { img: "/imgs_circular_lab/materialer/material-06.webp" },
  { img: "/imgs_circular_lab/materialer/material-07.webp" },
  { img: "/imgs_circular_lab/materialer/material-08.webp" },
  { img: "/imgs_circular_lab/materialer/material-09.webp" },
];
---
<style>

html {
  background-color: #ededed;

}
  .hero {
    padding: 4rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }

  .title-img {
  width: 100%;
  max-width: 700px;
  display: block;
}


  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 4rem;
    max-width: 1200px;
    width: 100%;
  }

  .card {
    background: #e6e6e6;
    border-radius: 10px;
    padding: 1rem;
    text-align: center;
    position: relative;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
    height: 70%;
    font-family: "Helvetica";

  }

  .dot {
    width: 6px;
    height: 6px;
    background-color: #2ecc71;
    border-radius: 50%;
    position: absolute;
    top: 10px;
    left: 10px;
  }

  .material-img {
    width: 80%;
    height: 60%;
    border-radius: 4px;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
  }

  .card-info {
    font-size: 0.55rem;
    font-weight: 500;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    font-family: "Helvetica";

  }

  .qr {
    width: 20px;
    height: 20px;
    object-fit: contain;
    margin: 0 auto;
  }

@media (max-width: 768px) {

  .hero {
    padding: 2rem 1rem;
  }
  .hero {
    padding: 2rem 1rem; 
  }
  .title-img {
    max-width: 300px;
  }

  .grid {
    gap: 1.5rem; 
  }

  .card {
    padding: 1rem; 
  }

  .card-info {
    font-size: 0.7rem; 
  }

  .qr {
    width: 20px; 
    height: 20px;
  }
}
</style>

<section class="hero">
  <img src="/ti.png" alt="Circular Lab" class="title-img" />
  <div class="grid">
    {materials.map((material) => (
      <div class="card">
        <div class="dot"></div>
        <img src={material.img} alt="Material" class="material-img" />
        <div class="card-info">
          <span>0603 – 01</span>
          <span>Material Connection</span>
        </div>
        <img src="/qr.png" alt="QR code" class="qr" />
      </div>
    ))}
  </div>
</section>