---
// src/components/KontaktNote.astro
---

<p class="kontakt-text">
    Har du//I allerede nu spørgsmål omkring cirkularitet, eller har du//I jeres eget
    cirkulære tiltag, I ønsker at teste af i labbet eller har du//I input til aktiviteter i labbet,
    kan du//I altid kontakte os på
    <a href="mailto:circular@kea.dk">circular@kea.dk</a>.
  </p>
  
  <style>
    .kontakt-text {

      font-size: 1rem;
      padding: 1rem 20rem;
      max-width: 600px;
    }
  
    .kontakt-text a {
      color: #333;
      text-decoration: underline;
    }
  </style>
  