---
// src/components/KontaktNote.astro
---

<p class="kontakt-text">
    Har du//I allerede nu spørgsmål omkring cirkularitet, eller har du//I jeres eget
    cirkulære tiltag, I ønsker at teste af i labbet eller har du//I input til aktiviteter i labbet,
    kan du//I altid kontakte os på
    <a href="mailto:circular@kea.dk">circular@kea.dk</a>.
  </p>
  
  <style>
      @font-face {
  font-family: "Helvetica LT STD Condensed";
  src:
    url("../fonts/Helvetica LT Std Condensed.woff2") format("woff2"),
    url("../fonts/Helvetica LT Std Condensed.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Helvetica Neue Bold";
  src:
    url("../fonts/helveticaneuebold-webfont.woff2") format("woff2"),
    url("../fonts/helveticaneuebold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Helvetica Neue Black";
  src:
    url("../fonts/HelveticaNeueBlack.woff2") format("woff2"),
    url("../fonts/HelveticaNeueBlack.woff") format("woff");
  font-weight: lighter;
  font-style: normal;
}
@font-face {
  font-family: "Helvetica Neue Light";
  src:
    url("../fonts/helveticaneuelight-webfont.woff2") format("woff2"),
    url("../fonts/helveticaneuelight-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;

}
    .kontakt-text {

      font-size: 1rem;
      padding: 1rem 20rem;
      max-width: 600px;
      font-family: "Helvetica Neue Light";

    }
  
    .kontakt-text a {
      color: #333;
      text-decoration: underline;
      font-family: "Helvetica Neue Light";

    }

    @media (max-width: 768px) {
  .kontakt-text {
    font-size: 0.9rem; 
    padding: 1rem; 
    max-width: 100%;
  }

  .kontakt-text a {
    font-size: 0.9rem; 
  }
}
  </style>
  