---
const { page } = Astro.props;
---

<div>
  <a href="#">Forside</a> / <a href="#">Labs</a> / <a href="#">Circular Labs</a>
  / <a href="index.astro">Circular Lab</a> / <a href="#">{page}</a>
</div>
