---
// hvis vi skal kode titlen har jeg prøevet her
---

<style>
  .embossed {
    font-size: 6rem;
    font-weight: 700;
    color: #efefef;
    font-family: sans-helve;
    text-shadow:
      2px 2px 4px rgba(0, 0, 0, 0.1),
      -2px -2px 4px rgba(255, 255, 255, 0.6);
  }
  .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
</style>

<div class="wrapper">
  <h1 class="embossed">Circular Lab</h1>
</div>
