---
const { title } = Astro.props;
---

<!doctype html>
<html lang="da">
  <head>
    <link rel="stylesheet" href="../../base.css" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Circular Lab - {title}</title>
  </head>
  <body>
    <header>
      <img src="../../public/imgs_circular_lab/header.png" alt="" />
    </header>
    <main>
      <slot />
    </main>
  </body>
  <footer>
    <img src="../../public/imgs_circular_lab/footer.png" alt="" />
  </footer>
</html>

<style>
  html,
  body {
    background-color: #ededed;
    margin: 0;
    width: 100%;
    height: 100%;
  }

  main {
    max-width: 1200px;
    margin: 0 auto;
  }
</style>
